body {
  text-align: center;
  color: #292929;
  background: -webkit-radial-gradient(center, circle closest-corner, white 0%, #e66d1a 100%);
  background: -moz-radial-gradient(center, circle closest-corner, white 0%, #e66d1a 100%);
  background: radial-gradient(center, circle closest-corner, #ffffff 0%, #e66d1a 100%);
  font-family: "Oswald", sans-serif;
}